@import '../../styles/base/main.scss';
.resetPassword{
  width: 30%;
  .title{
    font-size: 42px;
    font-weight: 700;
    color: $prim-highlight;
  }
  .formInput{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    label{
      font-size: 24px;
      font-weight: 600;
      color: $prim-highlight;
      margin-bottom: 0.5rem;
    }
    .mismatchError{
      font-size: 16px;
      font-weight: 600;
      color: $red;
      margin: 6px 0;
    }
    input{
      border: 1px solid $darkGrey;
      height: 35px;
      padding-left: 1rem;
      border-radius: 6px;
      // @include centreAlign;
      font-size: 18px;
      font-weight: 600;
      color: $darkGrey !important;
      &::placeholder{
        font-size: 18px;
        font-weight: 600;
        color: $darkGrey;
      }
      &:focus,&:active,&:hover{
        outline: none;
      }
    }
    .title{
      font-size: 48px;
      font-weight: 800;
      color: $prim-highlight; 
      line-height: 20px;
    }
    button{
      width: fit-content;
    }
  }
  .formInputSingleRow{
    flex-direction: row;
    label,input,textarea {
      margin: 0;
    }
    input{
      margin-left: 1rem;
    }
  } 
}