@import '../../styles/base/main.scss';
.resetPassword{
  width: 30%;
  .title{
    font-size: 42px;
    font-weight: $wt-bold;
    color: $prim-highlight;
  }
  .formInputSingleRow{
    flex-direction: row;
    label,input,textarea {
      margin: 0;
    }
    input{
      margin-left: 1rem;
    }
  } 
}