@import '../../../styles/base/main.scss';
.Gallery{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 2rem 2rem;
  @media (max-width : 1450px) {
    
    grid-template-columns: 45% 45%;
  }
  .editableImage{
    width: 350px;
    height: 350px;
  }
  .editableImageAdd{
    width: 350px;
    height: 350px;
    @include centreAlign;
    .addIcon{
      width: 120px;
      height: 120px;
    }
  }
}