@import '../../styles/base/main.scss';
.fileUploadWrapper{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 500;
  background-color: $grey;
  @include centreAlign;
  .modal{
    background-color: $white ;
    @include spaceBetween;
    flex-direction: column;
    width: 40%;
    min-height: 300px;
    padding: 2rem;
    h3{
      font-size: 36px;
      font-weight: $wt-light;
      color: $prim-highlight;
      margin: 0rem 0 0.2rem 0;
    }
    p{
      font-size: 16px;
      font-weight: $wt-bold;
      color: $red;
      margin: 0 0 1rem 0;

    }
    .uploadImage,.actions{
      width: 100%;
      @include centreAlign;
      margin-top: 2rem;
    }
    .actions{ 
      // margin-top: 2rem;
      gap: 2rem;
    }
  }
}