@import '../../../styles/base/main.scss';
.Dashboard__home{
  padding: 2rem 1rem;
  .title{
    font-size: 36px;
    font-weight: $wt-reg;
    color: $darkGrey;
  }
  .header{
    @include spaceBetween;
    .title{
      font-size: 44px;
      font-weight: $wt-extraBold;
      color: $prim-highlight;
    }
    button{
      margin-right: 5rem;
      height: 35px;
      font-size: 20px;
    }
  }
  .carrauselImages{
    margin: 3rem 0;
    .content{
      display: grid;
      grid-template-columns: 48% 48% ;
      gap: 2rem 2rem;
      .editableImage{
        max-width: 500px;
        max-height: 500px;
      }
      .addCarraudelImage{
        @include centreAlign;
        width: 100%;
        padding: 2rem;
        height: 500px;
        box-shadow: 3px 3px 5px #555555, -3px -3px 5px #fefefa;
        border-radius: 8px;
        img{
          width: 90px;
          height: 90px;
        }
      }
    }
  }
  .KLifeInfo{
    .content{
      display: grid;
      grid-template-columns: 30% 30% 30% ;
      gap: 2rem 2rem;
      .point{
        @include centreAlign;
        flex-direction: column;
        // width: 30%;
        max-width: 250px;
        margin-bottom: auto;
        .image{
          width: 250px;
          height: 250px;
          position: relative;
          .hero{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          .icon{
            position: absolute;
            top: 100px;
            left: 90px;
            width: 70px;
            height: 70px;
            padding: 15px;
            display: none;
            cursor: pointer;
            border: 1px solid $darkGrey;
            border-radius: 50%;
          }
          &:hover{
            .icon{
              display: block;
            }
          }
        }
        .label{
          color: $primary-green;
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 4rem;
          width: 100%;
          opacity: 80%;
          text-align: center;
          border: none;
          &:active,&:focus{
            outline: none;
          }
        }
      }
    }
  }
  .marquee{
    .add{
      button{
        width: fit-content;
        margin: 0 1rem;
      }
    }
    .products{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      // padding: 2rem 4%;
      padding-right: 20%;
      gap: 2rem;
      .card{
        // width: fit-content;
        height: 400px;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        position: relative;
        width: 350px !important;
        max-width: 80vw !important;
        @media screen and (max-width : 1200px) and (min-width : 1000px) {
          width: 300px !important;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .content{
          position: absolute;
          bottom: 0;
          margin-top: auto;
          width: 100%;
          height: 130px;
          background: rgba(31, 160, 160, 0.9);
          color: $white;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          h3{
            border-bottom: 3px solid $white;
            padding-bottom: 1rem;
            font-weight: 600;
            font-size: 24px;
            margin-top: auto;
            margin-bottom: 0;

          }
          p{
            font-weight: 600;
            color: $white;
            margin: 0.5rem 0 0;
            font-size: 14px;
            line-height: 19px;
            text-align: left;
          }
        }
        .closeIcon{
          position: absolute;
          top: 0;
          right: 0;
          padding: 4px;
          width: 30px;
          height: 30px;
          box-sizing: content-box;
          border: 1px solid;
          border-radius: 50%;
          cursor: pointer;
          display: none;
        }
        &:hover{
          .closeIcon{
            display: block;
          }
        }
      }
    }
  }
  .latestProducts{
    .add{
      height: 200px;
      select{
        height: 30px;
        padding: 0 0.5rem;
        margin-right: 1rem;
      }
      button{
        width: fit-content;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .products{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      .Card3Add{
        @include centreAlign;
      }
    }
  }
}