@import '../../../styles/base/main.scss';
.Product{
 
  .formInputSingleRow{
    flex-direction: row;
    label,input,textarea {
      margin: 0;
    }
    input{
      margin-left: 1rem;
      min-width: 70%;
    }
    input[type=checkbox]{
      min-width: unset;
      width: 20px;
      height: 20px;
    }
    .videoUrl{
      border: 1px solid;
      margin-left: 0;
      margin-right: 2rem;
      padding-left: 1rem;
    }
  }
  .formInputChoiceTick{
    align-items: center;
  }
  .header{
    @include spaceBetween;
    button{
      // margin-right: 3rem;
    }
  }
  .manuals{
    .content{
      @include centreAlign;
      gap: 2rem;
      a{
        @include centreAlign;
        font-size: 18px;
        text-decoration: none;
        width: fit-content;
        padding: 6px;
      }
    }
  }
  .images{
    .products{
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 2rem 2rem;
      .editableImage{
        height: 350px;
      }
      .editableImageAdd{
        @include centreAlign;
        .addIcon{
          width: 100px;
          height: 100px;
        }
      }
    }
  }
  .accessories{
    margin-top: 3rem;
    .content{
      @include spaceBetween;
      .image{
        width: 38%;
        height: 200px;
        position: relative;
        @include centreAlign;
        .hero{
          max-width: 100%;
          
          max-height: 100%;
          object-fit: contain;
        }
        .icon{
          position: absolute;
          top: 80px;
          border-radius: 50%;
          border: 1px solid $darkGrey;
          background-color: $white;
          padding: 7px;
          display: none;
        }
        &:hover{
          .icon{
            display: block;
          }
        }
        // padding: 2rem;
      }
      .editor{
        width: 60%;
        height: 100%;
      }
    }
  }
  .plusPoints{
    .points{
      li{
        width: fit-content;
        cursor: auto;
        position: relative;
        margin: 0.5rem 0;
        padding: 0.2rem 0.5rem;
        span{
          position: absolute;
          top: -0.8rem;
          right: -0.5rem;
          border: 1px solid;
          border-radius: 50%;
          padding: 2px;
          display: none;
          cursor: pointer;
        }
        &:hover{
          // border: 1px solid;
          span{
            display: block;
            width: 20px;
            height: 20px;
            @include centreAlign();
          }
        }

      }
    }
  }
  .techSpecs{
    .buttons{
      margin: 1rem 0;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      margin: 2rem 0;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 0.6rem ;
      button{
        width: fit-content;
        cursor: pointer;
      }
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  }
}